This is an analysis of Los Angeles Crime Data. 

Dataset source:
https://data.lacity.org/A-Safe-City/Crime-Data-from-2010-to-Present/y8tr-7khq

Hope to show some insights from the data including:

    -What type of crime is most prevalent?
    -What type of crime is least prevalent?
    -Where was there more crime?
    -Where was there less crime?
    -Where did most batteries occured? Show
    -When did crimes occured? Show
    -Is crime increasing or decreasing in time? Show

In [109]:
import pandas as pd
import folium
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.plotly as py

from folium.plugins import MarkerCluster
from IPython.display import Image
from IPython.core.display import HTML 

%matplotlib inline

In [2]:
csv = '/Users/nonoumasy/Downloads/data/LA_Crime_Data_from_2010_to_Present.csv'
df = pd.read_csv(csv)

In [ ]:
#clean the data
df = df[['Date Occurred','Time Occurred', 'Area Name', 'Crime Code',
         'Crime Code Description','Weapon Description', 'Address',
        'Location ']]

df.columns = df.columns.str.replace(' ', '_')  #replace blankspace with underscore

df.columns = df.columns.str.lower()  #changes column names to lowercase

In [6]:
df.head()

,date_occurred,time_occurred,area_name,crime_code,crime_code_description,weapon_description,address,location_
0,01/16/2015,2130,Van Nuys,510,VEHICLE - STOLEN,NaN,6200 FULTON AV,"(34.1814, -118.4263)"
1,01/01/2015,230,Southeast,626,INTIMATE PARTNER - SIMPLE ASSAULT,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",200 E 97TH ST,"(33.9483, -118.2717)"
2,10/01/2015,800,77th Street,805,PIMPING,NaN,FIGUEROA ST,"(33.9807, -118.2827)"
3,01/01/2015,40,Central,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),NaN,HILL ST,"(34.0591, -118.2412)"
4,01/01/2015,240,Central,626,INTIMATE PARTNER - SIMPLE ASSAULT,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",500 W 7TH ST,"(34.0467, -118.2556)"

In [36]:
#what type of crime is most prevalent?
df.crime_code_description.value_counts()[:5]

BATTERY - SIMPLE ASSAULT              172969
BURGLARY FROM VEHICLE                 146743
VEHICLE - STOLEN                      145721
BURGLARY                              135867
THEFT PLAIN - PETTY ($950 & UNDER)    135333
Name: crime_code_description, dtype: int64

In [38]:
#what type of crime is least prevalent?
df.crime_code_description.value_counts()[-5:]

TILL TAP - ATTEMPT                          3
BLOCKING DOOR INDUCTION CENTER              3
FIREARMS RESTRAINING ORDER (FIREARMS RO)    2
TRAIN WRECKING                              2
DRUNK ROLL - ATTEMPT                        1
Name: crime_code_description, dtype: int64

In [61]:
#where was there most crime?
df.area_name.value_counts()[:5]

77th Street    131722
Southwest      122674
N Hollywood    103320
Pacific        100906
Southeast      100288
Name: area_name, dtype: int64

In [62]:
#where was there least crime?
df.area_name.value_counts()[-5:]

Rampart       80521
West LA       80127
Wilshire      78481
Foothill      72360
Hollenbeck    70000
Name: area_name, dtype: int64

In [86]:
#map of crime in LA
m = folium.Map([34,-118.3], tiles='Stamen Toner', zoom_start=11)

marker_cluster = MarkerCluster().add_to(m)

folium.Marker(
    location=[34, -118],
    popup='Add popup text here.',
).add_to(marker_cluster)

folium.Marker(
    location=[34, -118.1],
    popup='Add popup text here.',
).add_to(marker_cluster)

folium.Marker(
    location=[34, -118.2],
    popup='Add popup text here.',
).add_to(marker_cluster)

m

In [102]:
#Where did most BATTERY - SIMPLE ASSAULT occured?
df[df.crime_code_description == 'BATTERY - SIMPLE ASSAULT'].area_name.value_counts()[:]

77th Street    13978
Central        12978
Southwest      12957
Southeast      10503
Olympic        10006
Hollywood       9520
Newton          9043
Rampart         8593
Mission         8244
N Hollywood     7728
Pacific         7457
Hollenbeck      7316
Van Nuys        6741
Northeast       6697
Wilshire        6342
Harbor          6315
Topanga         6199
West LA         6007
Devonshire      5845
West Valley     5405
Foothill        5095
Name: area_name, dtype: int64

In [103]:
df[df.crime_code_description == 'BURGLARY FROM VEHICLE'].area_name.value_counts()[:]

N Hollywood    11197
Hollywood       8704
Pacific         8546
Van Nuys        8112
West LA         8028
Devonshire      7934
Northeast       7903
Southwest       7383
Olympic         7371
Wilshire        7103
77th Street     6932
Mission         6904
West Valley     6629
Central         6593
Newton          6496
Topanga         6110
Rampart         5884
Harbor          5274
Southeast       4773
Foothill        4698
Hollenbeck      4169
Name: area_name, dtype: int64

In [110]:
df[df.crime_code_description == 'BURGLARY'].area_name.value_counts()[:]

Pacific        9347
Devonshire     8995
77th Street    8982
West LA        8533
West Valley    8256
Southwest      7913
Topanga        7771
Wilshire       7615
Southeast      7593
N Hollywood    7176
Harbor         6623
Northeast      6550
Van Nuys       6017
Mission        5990
Foothill       5277
Olympic        5113
Newton         4554
Hollywood      4197
Rampart        3540
Hollenbeck     3348
Central        2477
Name: area_name, dtype: int64

#map of LAPD Divisional Map
![Image of Yaktocat](http://www.lapdwilshire.com/uploads/3/0/7/1/30711601/6222770.jpg?816)