This is an analysis of Los Angeles Crime Data. 
Dataset source:
https://data.lacity.org/A-Safe-City/Crime-Data-from-2010-to-Present/y8tr-7khq

We hope to show some insights from the data including:

    -What type of crime is most/least prevalent?
    -Where was there more crime?
    -Where was there less crime?
    -Where did most batteries occured? Show
    -When did crimes occured? Show
    -Is crime increasing or decreasing in time? Show

In [1]:
import pandas as pd
import folium
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.plotly as py

In [2]:
csv = '/Users/nonoumasy/Downloads/data/LA_Crime_Data_from_2010_to_Present.csv'
df = pd.read_csv(csv)

In [7]:
#df.columns
#crime_count = df.crime_code_description.value_counts()
#df.columns = df.columns.str.lower()  #changes column names to lowercase
#df.columns = df.columns.str.replace(' ', '_')  #replace blankspace with underscore
#df.column.value_counts().plot()  #plot value counts for each column
#df.rename(columns={})  #rename Pandas column
#df = df[['Date Occurred','Time Occurred', 'Area Name', 'Crime Code', 'Crime Code Description', 'Weapon Description', 'Address', 'Location ', ]]  #tranform df to only these columns
#df.drop(['B', 'C'], axis=1)  #Drop specified labels from rows or columns
#df.fillna()  #replaces missing values with a value
#df[[ 'col1’, 'col2’]] = df.column.str.split(' ' , expand=True) #df.loc[row_selector, col_selector]
#df.loc[ rows, column] - selecting things by labels
#df.groupby(['col1', 'col2']).mean()
#df[df['country'] == 'Sweden' ]  #filter columns
#df[df.country.isin(['Denmark'])]  #filter columns
#df[(df.col1 == 'str') & (df.col2 <= int)]

In [6]:
df.head()

,date_occurred,time_occurred,area_name,crime_code,crime_code_description,weapon_description,address,location_
0,01/16/2015,2130,Van Nuys,510,VEHICLE - STOLEN,NaN,6200 FULTON AV,"(34.1814, -118.4263)"
1,01/01/2015,230,Southeast,626,INTIMATE PARTNER - SIMPLE ASSAULT,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",200 E 97TH ST,"(33.9483, -118.2717)"
2,10/01/2015,800,77th Street,805,PIMPING,NaN,FIGUEROA ST,"(33.9807, -118.2827)"
3,01/01/2015,40,Central,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),NaN,HILL ST,"(34.0591, -118.2412)"
4,01/01/2015,240,Central,626,INTIMATE PARTNER - SIMPLE ASSAULT,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",500 W 7TH ST,"(34.0467, -118.2556)"

In [97]:
#df.shape
#df.describe
#str.strip  #strips space from a string
#df.dtypes  #Return the dtypes in the DataFrame
#df.dtypes.sort_values()   #sort the dtypes
#df.info  #summary of a DataFrame
#df.isnull().sum()  #count of all missing data values by columns
#df.isnull().sum().sum()  #total missing values
#df.columns

In [17]:
#what type of crime is most/least prevalent?
df.crime_code_description.value_counts()

BATTERY - SIMPLE ASSAULT                                    172969
BURGLARY FROM VEHICLE                                       146743
VEHICLE - STOLEN                                            145721
BURGLARY                                                    135867
THEFT PLAIN - PETTY ($950 & UNDER)                          135333
THEFT OF IDENTITY                                           116833
INTIMATE PARTNER - SIMPLE ASSAULT                           103228
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)      97508
VANDALISM - MISDEAMEANOR ($399 OR UNDER)                     83384
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT               82579
THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)              78948
ROBBERY                                                      76060
THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD     66994
CRIMINAL THREATS - NO WEAPON DISPLAYED                       51944
SHOPLIFTING - PETTY THEFT ($950 & UNDER)                     43151
THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)             28000
DOCUMENT FORGERY / STOLEN FELONY                             21313
LETTERS, LEWD  -  TELEPHONE CALLS, LEWD                      19169
OTHER MISCELLANEOUS CRIME                                    19036
TRESPASSING                                                  18702
VIOLATION OF COURT ORDER                                     18441
VIOLATION OF RESTRAINING ORDER                               16922
THEFT, PERSON                                                13145
BRANDISH WEAPON                                              12759
INTIMATE PARTNER - AGGRAVATED ASSAULT                        12616
BIKE - STOLEN                                                12079
BURGLARY, ATTEMPTED                                          11584
ATTEMPTED ROBBERY                                            10876
BATTERY WITH SEXUAL CONTACT                                   9994
RAPE, FORCIBLE                                                9111
                                                             ...
CONSPIRACY                                                      53
PURSE SNATCHING - ATTEMPT                                       44
LYNCHING                                                        43
THEFT, COIN MACHINE - GRAND ($950.01 & OVER)                    40
DISRUPT SCHOOL                                                  40
DRUGS, TO A MINOR                                               39
TELEPHONE PROPERTY - DAMAGE                                     35
BIKE - ATTEMPTED STOLEN                                         34
DRUNK ROLL                                                      31
BRIBERY                                                         30
THEFT, COIN MACHINE - ATTEMPT                                   24
REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)        23
BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM        23
PETTY THEFT - AUTO REPAIR                                       22
LYNCHING - ATTEMPTED                                            22
FAILURE TO DISPERSE                                             20
PICKPOCKET, ATTEMPT                                             20
TILL TAP - GRAND THEFT ($950.01 & OVER)                         18
GRAND THEFT / AUTO REPAIR                                       13
INCITING A RIOT                                                 13
BIGAMY                                                          11
INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)                     9
DISHONEST EMPLOYEE ATTEMPTED THEFT                               8
ABORTION/ILLEGAL                                                 6
MANSLAUGHTER, NEGLIGENT                                          5
TILL TAP - ATTEMPT                                               3
BLOCKING DOOR INDUCTION CENTER                                   3
FIREARMS RESTRAINING ORDER (FIREARMS RO)                         2
TRAIN WRECKING                                                   2
DRUNK ROLL - ATTEMPT                                             1
Name: crime_code_description, Length: 139, dtype: int64

In [32]:
#which areas have more crime?
df.area_name.value_counts()[:5]

77th Street    131722
Southwest      122674
N Hollywood    103320
Pacific        100906
Southeast      100288
Name: area_name, dtype: int64

In [27]:
#which areas have less crime?
df.area_name.value_counts()[-5:]

Rampart       80521
West LA       80127
Wilshire      78481
Foothill      72360
Hollenbeck    70000
Name: area_name, dtype: int64